/*	GLOBAL	*/
body {
	background-color: #0d1117;
	font-family: monospace;
}



/*	THEME	*/
/* Added multiple lines to preview colors on the editor	*/
.shell {
	border: 3px solid #484848;
	background: #f9b722;
    background: #ff4132;
    background: #e8e5df;
	border-radius: 20px;
}

.controls-logo {
	color: #313943;
	color: #6052a4;
}

.ab-button {
	background-color: #313943;
	background-color: #a84673;
}

.dpad-button p {
	color: #6052a4;
	color: #313943;
	color: #a84673;
}

.start-select {
	border: 3px solid #484848;
	background-color: #313943;
	background-color: #9e9596;
}



/*	GENERAL	*/
#gameboy {
	width: 510px;
	height: 910px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#screen-container {
	width: 430px;
	height: 430px;
	border: 3px solid #484848;
	background-color: #ffffff;
	overflow: auto;
	display: flex;
}

#screen-text {
	width: 215px;
	height: 430px;
	background-color: #ffffff;
	overflow: auto;
}

#screen-data {
	padding: 5px;
	font-size: inherit;
	width: 205px;
	background-color: #93aca1;
	background-color: #ffffff;
	min-height: 410px;
}

#screen-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 430px;
	width: 215px;
}

.sprite {
	width: 150px;
}

#pokemon1 {
	align-self: self-start;
}

#pokemon2 {
	align-self: self-end;
	padding-top: 5px;
	padding-right: 5px;
}



/* Controls section */
.ab-button:hover, .start-select:hover {
	cursor: pointer;
}

#controls{
	width: 410px;
	height: 370px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.controls-logo {
	display: flex;
	align-items: center;
	width: 65%;
	height: 50px;
	font-size: 15px;
	justify-content: space-evenly;
	cursor: default;
}

.controls-main, .controls-secondary {
	width: 100%;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dpad {
	width: 40%;
	height: 85%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.dpad-button {
	width: 122px;
	height: 43px;
	background-color: #484848;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.dpad-button p {
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	cursor: pointer;
}

#dpad-vertical p {
	rotate: -90deg;
}

#dpad-vertical {
	rotate: 90deg;
}

#dpad-horizontal {
	top: 43px;
}

.main-buttons {
	width: 45%;
	display: flex;
	justify-content: space-around;
	height: 50%;
	rotate: -25deg;
}

.ab-button {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	border: 3px solid #484848;
	display: flex;
	justify-content: center;
	align-items: end;
}

.ab-text {
	margin: 0 auto;
	text-align: center;
	font-size: larger;
	padding-top: 7px;
	font-weight: bold;
}

.ab-text:hover {
	cursor: default;
}

.startSelect-text {
	text-align: center;
	padding-top: 7px;
	font-weight: bold;
	cursor: default;
}

.secondary-buttons {
	display: flex;
	margin: 0 auto;
	width: 40%;
	justify-content: space-around;
	rotate: -25deg;
	height: 38%;
}

.start-select {
	border-radius: 15px;
	width: 60px;
	height: 12px;
}

#start-button {
	align-self: end;
}